.b1{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius:10px 10px 0px 0px;
    gap:10px;
    background-color: blanchedalmond;
}
.b{
    border: 1px solid red;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    background-color: rgb(226, 69, 69);
    
}
.c{
    border: 1px solid blue;
    display: flex;
    flex-direction:row;
    width:20%;
    gap:5px;
    margin:3px 3px 3px 3px;
    justify-content:center;
    padding:15px 0px 0px 0px;
    background-color: beige;


}
.d{
    border: 1px solid blue;
    display: flex;
    flex-direction:row;
    width: 80%;
    gap:5px;
    margin:3px 3px 3px 3px;
    padding: 20px 0px 0px 0px;
    background-color: beige;
    

}
.e{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);

}
.f{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);

    

}
.g{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);
}
.h{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center; 
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232); 
}
.i{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center; 
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);

}
.j{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ; 
    justify-content: center;
    align-items: center; 
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);

}
.k{
    border: 1px solid red;
    display: flex;
    flex-direction:row;
    height: 14vh;
    width: 12vw;
    margin: 2px;
    border-radius:5px ;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: rgb(8, 3, 3);
    background-color: rgb(218, 218, 232);

    

}
.l{
    border: 1px solid;
    display: flex;
    flex-direction: row;
}